<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
 <head>    
 	<meta charset="UTF-8">
 	<base th:href="@{/}">           
 	<link rel="stylesheet" type="text/css" href="css/StyleForm.css"/>
 	<link rel="stylesheet" type="text/css" href="css/StyleTable.css"/>
 	<link rel="stylesheet" type="text/css" href="css/NavigationBar.css"/>
 	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
	<title th:text="#{addWorkouts.pageTitle}"></title>     
 </head>    
 <body> 
 <div>  
 	<ul>       
 		 <li style="float:right"><a class="logOut" href="users/logout">Logout</a></li> 
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="users" th:text="#{link.users}"></a></li>
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="trainers" th:text="#{link.trainers}"></a></li>            
		 <li><a href="halls" th:text="#{link.halls}"></a></li>  
		 <li><a href="workoutTypes" th:text="#{link.workoutTypes}"></a></li>
		 <li><a href="workouts" th:text="#{link.workouts}"></a></li>
		 <li><a href="workoutAppointments" th:text="#{link.workoutAppointments}"></a></li>
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="comments" th:text="#{link.comments}"></a></li>
		 <li><a href="membershipCards" th:text="#{link.membershipCards}"></a></li>
		 <li style="float:right" th:if="${session.user != null and session.user.userRole == 'Member'}"><a th:href="|wishLists/details?username=${session.user.userName}|" th:text="#{link.wishLists}"></a></li> 
		 <li style="float:right" th:if="${session.user != null and session.user.userRole == 'Member'}"><a th:href="|shoppingCarts/details?username=${session.user.userName}|" th:text="#{link.shoppingCarts}"></a></li>
		 <li style="float:right"><a th:href="|users/detailsPersonal?id=${session.user.id}|" th:text="#{link.personal}"></a></li>   
 	</ul>
 	<br>
 	<div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
	<br>    
 	<form method="post" action="workouts/add">    
 		<table class="tabela">    
 			<caption>Adding a Workout</caption>    
 			<tr><th>Name:</th><td><input type="text" name="workoutName"/></td></tr> 
			<tr>
					<th>Trainers:</th>
					<td>
						<th:block th:each="itTrainer: ${trainers}">
							<input type="checkbox" name="trainerId" th:value="${itTrainer.id}"/><span th:text="${itTrainer.trainerName}"></span><br>
						</th:block>
					</td>
			</tr>   
 			<tr><th>Description:</th><td><input type="text" value="" name="workoutDescription"/></td></tr>      
 			<tr>
					<th>Workout Type:</th>
					<td>
						<th:block th:each="itWorkoutType: ${workoutTypes}">
							<input type="checkbox" name="workoutTypeId" th:value="${itWorkoutType.id}"/><span th:text="${itWorkoutType.workoutTypeName}"></span><br>
						</th:block>
					</td>
			</tr>        
 			<tr><th>Price(RSD):</th><td><input type="number" min="1" value="25" name="price"/></td></tr> 
 			<tr><th>Grouping:</th><td><select name="workoutGrouping">
			<option value="Individually">Individually</option>
			<option value="Group">Group</option>
			</select></td></tr>
			<tr><th>Level:</th><td><select name="workoutLevel">
			<option value="Amateur">Amateur</option>
			<option value="Medium">Medium</option>
			<option value="Advanced">Advanced</option>
			</select></td></tr>
			<tr><th>Length(min.):</th><td><input type="number" min="1" value="10" name="workoutLength"/></td></tr>    
 			<tr><th></th><td><input type="submit" value="Add"/></td>    
 		</table>    
 	</form>   
 	<br/>
 	</div>  
 </body>  
 </html>  		