<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StyleForm.css"/>
	<link rel="stylesheet" type="text/css" href="css/NavigationBar.css"/>
	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
	<title th:text="#{userInfo.pageTitle}"></title> 
</head>
<body>
	<ul>       
 		 <li style="float:right"><a class="logOut" href="users/logout">Logout</a></li> 
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="users" th:text="#{link.users}"></a></li>
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="trainers" th:text="#{link.trainers}"></a></li>            
		 <li><a href="halls" th:text="#{link.halls}"></a></li>  
		 <li><a href="workoutTypes" th:text="#{link.workoutTypes}"></a></li>
		 <li><a href="workouts" th:text="#{link.workouts}"></a></li>
		 <li><a href="workoutAppointments" th:text="#{link.workoutAppointments}"></a></li>
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="comments" th:text="#{link.comments}"></a></li>
		 <li><a href="membershipCards" th:text="#{link.membershipCards}"></a></li>
		 <li style="float:right" th:if="${session.user != null and session.user.userRole == 'Member'}"><a th:href="|wishLists/details?username=${session.user.userName}|" th:text="#{link.wishLists}"></a></li> 
		 <li style="float:right" th:if="${session.user != null and session.user.userRole == 'Member'}"><a th:href="|shoppingCarts/details?username=${session.user.userName}|" th:text="#{link.shoppingCarts}"></a></li>
		 <li style="float:right"><a th:href="|users/detailsPersonal?id=${session.user.id}|" th:text="#{link.personal}"></a></li>       
 	</ul> 
 	<br>
 	<div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
	<br> 
	<form method="post" action="users/editPersonal">
		<input type="hidden" name="id" th:value="${user.id}"/>
		<table class="forma">
			<caption>User Information</caption>
			<tr><th>Username:</th><td th:text="${user.userName}"></td></tr>
			<tr><th>Password:</th><td><input type="text" th:value="${user.password}" name="password"/></td></tr>
			<tr><th>Email:</th><td><input type="text" th:value="${user.email}" name="email"/></td></tr>
			<tr><th>First Name:</th><td><input type="text" th:value="${user.firstName}" name="firstName"/></td></tr>
			<tr><th>Last Name:</th><td><input type="text" th:value="${user.lastName}" name="lastName"/></td></tr>
			<tr><th>Date of Birth:</th><td><input type="date" th:value="${user.dateOfBirth}" name="dateOfBirth"/></td></tr>
			<tr><th>Address:</th><td><input type="text" th:value="${user.address}" name="address"/></td></tr>
			<tr><th>Phone:</th><td><input type="text" th:value="${user.phoneNumber}" name="phoneNumber"/></td></tr>
			<tr><th>Date of Registration:</th><td><input type="date" th:value="${user.dateOfRegistration}" name="dateOfRegistration"/></td></tr>
			<tr><th></th><td><input type="submit" value="Edit"/></td></tr>
		</table>
	</form>
</body>
</html>