<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StyleForm.css"/>
	<link rel="stylesheet" type="text/css" href="css/NavigationBar.css"/>
	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
	<title th:text="#{workout.pageTitle}"></title> 
</head>
<body>
	<ul>    
 		 <li style="float:right"><a class="logOut" href="users/logout">Logout</a></li> 
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="users" th:text="#{link.users}"></a></li>
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="trainers" th:text="#{link.trainers}"></a></li>            
		 <li><a href="halls" th:text="#{link.halls}"></a></li>  
		 <li><a href="workoutTypes" th:text="#{link.workoutTypes}"></a></li>
		 <li><a href="workouts" th:text="#{link.workouts}"></a></li>
		 <li><a href="workoutAppointments" th:text="#{link.workoutAppointments}"></a></li>
		 <li th:if="${session.user != null and session.user.userRole == 'Administrator'}"><a href="comments" th:text="#{link.comments}"></a></li>
		 <li><a href="membershipCards" th:text="#{link.membershipCards}"></a></li>
		 <li style="float:right" th:if="${session.user != null and session.user.userRole == 'Member'}"><a th:href="|wishLists/details?username=${session.user.userName}|" th:text="#{link.wishLists}"></a></li> 
		 <li style="float:right" th:if="${session.user != null and session.user.userRole == 'Member'}"><a th:href="|shoppingCarts/details?username=${session.user.userName}|" th:text="#{link.shoppingCarts}"></a></li>
		 <li style="float:right"><a th:href="|users/detailsPersonal?id=${session.user.id}|" th:text="#{link.personal}"></a></li>    
 	</ul>
 	<br>
 	<div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
	<br>
	  
	<form method="post" action="workouts/edit">
		<input type="hidden" name="id" th:value="${workout.id}"/>
		<input type="hidden" th:value="${workout.picture}" name="picture"/>
		<table class="tabela">
			<caption th:text="#{workout.caption}"></caption>
			<tr><th th:text="#{workout.workoutName}"></th><td><input type="text" th:value="${workout.workoutName}" name="workoutName"/></td></tr>
			<tr>
					<th th:text="#{workout.trainers}"></th>
					<td>
						<th:block th:each="itTrainer: ${trainers}">
							<input type="checkbox" name="trainerId" th:value="${itTrainer.id}" th:checked="${#lists.contains(workout.trainers, itTrainer)}"/><span th:text="${itTrainer.trainerName}"></span><br>
						</th:block>
					</td>
			</tr>
			<tr><th th:text="#{workout.workoutDescription}"></th><td><input type="text" th:value="${workout.workoutDescription}" name="workoutDescription"/></td></tr>
			<tr>
					<th th:text="#{workout.workoutType}"></th>
					<td>
						<th:block th:each="itWorkoutType: ${workoutTypes}">
							<input type="checkbox" name="workoutTypeId" th:value="${itWorkoutType.id}" th:checked="${#lists.contains(workout.workoutTypes, itWorkoutType)}"/><span th:text="${itWorkoutType.workoutTypeName}"></span><br>
						</th:block>
					</td>
			</tr>
			<tr><th th:text="#{workout.price}"></th><td><input type="number" th:value="${workout.price}" name="price"/></td></tr>
			
			<tr><th th:text="#{workout.grouping}"></th><td><select id="WorkoutGrouping" class="form-control" data-val="true" th:value="${workout.workoutGrouping}" name="workoutGrouping">
			<option value ="Individually">Individually</option>
			<option value ="Group">Group</option>
			</select></td></tr>
			
			<tr><th th:text="#{workout.level}"></th><td><select id="WorkoutLevel" class="form-control" data-val="true" th:value="${workout.workoutLevel}" name="workoutLevel">
			<option value ="Amateur">Amateur</option>
			<option value ="Medium">Medium</option>
			<option value ="Advanced">Advanced</option>
			</select></td></tr>
			
			<tr><th th:text="#{workout.length}"></th><td><input type="number" th:value="${workout.workoutLength}" name="workoutLength"/></td></tr>
			<tr><th th:text="#{workout.averageGrade}"></th><td><input type="number" th:value="${workout.averageGrade}" name="averageGrade"/></td></tr>
			<tr><th th:if="${session.user != null and session.user.userRole == 'Administrator'}"></th><td th:if="${session.user != null and session.user.userRole == 'Administrator'}"><input type="submit" value="Edit"/></td></tr>
		</table>
		
		<table class="tabela">     
	 			<caption th:text="#{comments.caption}"></caption>     
	 			<tr>      
	 				<th th:text="#{comments.username}"></th>         
	 				<th th:text="#{comments.dateOfCreation}"></th>  
	 				<th th:text="#{comments.commentText}"></th> 
	 				<th th:text="#{comments.commentGrade}"></th>   
	 			</tr>
	 			<tr th:if="${workout.id == itComment.workout.id and itComment.commentStatus == 'Accepted'}" th:each="itComment, status: ${comments}"> 
	 				<td th:switch="${itComment.anonymous}">
  						<p th:case="${true}">Anonymous</p>
  						<p th:case="${false}" th:text="${itComment.username}"></p>
					</td>
					<td th:text="${#temporals.format(itComment.dateOfCreation, 'dd.MM.yyy . HH:mm')}"></td> 
					<td th:text="${itComment.commentText}"></td>
					<td th:text="${itComment.commentGrade}"></td>
				</tr>
	 	</table>
	</form>
	<br>
	<br>
	
	<form th:if="${session.user != null and session.user.userRole == 'Administrator'}" method="post" action="workouts/delete">
		<input type="hidden" name="id" th:value="${workout.id}"/>
		<table class="forma">
			<tr><th style="background-color:#FF0000"></th><td><input type="submit" value="Delete Workout"/></td></tr>
		</table>
	</form>
	
	<form th:if="${session.user != null and session.user.userRole == 'Member'}" method="post" action="workouts/wished/add">
		<input type="hidden" name="idWorkout" th:value="${workout.id}">
		<table>
			<caption>Add to Wish List</caption>	
			<tr><th></th><td><input type="submit" value="Add to Wish List"></td> 
		</table> 
	</form>
	
	<form th:if="${session.user != null and session.user.userRole == 'Member'}" method="post" action="workouts/ordered/add">
		<input type="hidden" name="idWorkout" th:value="${workout.id}">
		<table>
			<caption>Order</caption>	
			<tr><th></th><td><input type="submit" value="Add to Orders"></td> 
		</table> 
	</form>
</body>
</html>